body {
    font-family: "Roboto", sans-serif;
    background-color: #fff; }
  
  p {
    color: #fff;
    font-weight: 300; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
    color: #fff; }
  
    hr {
      height: 5px;
      border: 0;
      background: #BB0A1E;
    }
    .login-form {
      width: 340px;
      margin: 30px auto;
        font-size: 15px;
  }
  .login-form form {
      margin-bottom: 15px;
      background: #f7f7f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
  .login-form h2 {
      margin: 0 0 15px;
  }
  .login-form .hint-text {
      color: #de1a1a;
      padding-bottom: 15px;
      text-align: center;
        font-size: 13px; 
  }
  .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
  }
  .login-btn {        
      font-size: 15px;
      font-weight: bold;
  }
  .or-seperator {
      margin: 20px 0 10px;
      text-align: center;
      border-top: 1px solid #ccc;
  }
  .or-seperator i {
      padding: 0 10px;
      background: #f7f7f7;
      position: relative;
      top: -11px;
      z-index: 1;
  }
  .social-btn .btn {
      margin: 10px 0;
      font-size: 15px;
      text-align: left; 
      line-height: 24px;       
  }
  .social-btn .btn i {
      float: left;
      margin: 4px 15px  0 5px;
      min-width: 15px;
  }
  .input-group-addon .fa{
      font-size: 18px;
  }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a:hover {
      text-decoration: none !important; }
  
  .content {
    padding: 7rem 0; }
  
  h2 {
    font-size: 20px; }
  
  .half, .half .container > .row {
    height: 100%;
    min-height: 700px; }
  
  @media (max-width: 991.98px) {
    .half .bg {
      height: 800px; } }
  
  .half .contents {
    background: #e81010;
  height: 100%; }
  
  .half .contents, .half .bg {
    width: 50%; }
    @media (max-width: 1199.98px) {
      .half .contents, .half .bg {
        width: 100%; } }
    .half .contents .form-control, .half .bg .form-control {
      border: none;
      -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      height: 54px;
      background: #fff; }
      .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
        outline: none;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); }
  
  .half .bg {
    background-size: cover;
    background-position: center; }
  
  .half a {
    color: #fff;
    text-decoration: underline; }
  
  .half .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px; }
  
  .half .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px; }
  
  .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px; }
    .control .caption {
      position: relative;
      top: .2rem;
      color: #ffff; }
  
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  
  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px; }
  
  .control--radio .control__indicator {
    border-radius: 50%; }
  
  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
    background: #F55151 }
  
  .control input:checked ~ .control__indicator {
    background: #F55151; }
  
  .control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:checked:focus ~ .control__indicator {
    background: #F55151; }
  
  .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none; }
  
  .control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  
  .control input:checked ~ .control__indicator:after {
    display: block;
    color: #fff; }
  
  .control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  
  .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b; }
  
  .control--checkbox input:disabled:checked ~ .control__indicator {
    background-color: #7e0cf5;
    opacity: .2; }